snippet tarea "nueva tarea" i
,
{
    "Asignatura": "$1",
    "Descripción": "$2",
    "Fecha": "$3/$4/20${5:21}",
    "Done": false
}$0
endsnippet

snippet clase "nueva clase" i
,
{
    "nombre": "$1",
    "diminutivo": "$2",
    "eaulas": "$3",
    "zoom": "$4",
    "horarios": [
        $5
    ]
}$0
endsnippet

snippet horario "nuevo horarios" i
,
{
    "dia":"$1",
    "inicio":"$2",
    "final":"$3"
}$0
endsnippet

